.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid black;
}

.menu {
    padding: 10px 20px;
    color: #242424;
    font-size: 18px;
}

.active {
    font-weight: 700;
}
